:root {
  --primary-orange-color: #fd9222;
  --primary-white-color: #ffffff;
  --primary-black-color: #111111;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--primary-black-color);
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1166px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
